DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_xxxxxxxxx"
CLERK_SECRET_KEY="sk_test_xxxxxxxxx"
ADMIN_EMAILS="tu-email@dominio.com"
BLOB_READ_WRITE_TOKEN="vercel-blob-token"
